.UserStatistics .word-break[data-v-1003fd90] {
    word-break: break-all
}

.UserStatistics .wrap-col[data-v-1003fd90] {
    border: unset;
    margin-bottom: 20px!important;
    border-radius: 10px;
    padding: 5%;
    background-color: #fff
}

.UserStatistics .level-info-area[data-v-1003fd90] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.UserStatistics .level-info-area img[data-v-1003fd90] {
    width: 100%;
    display: block;
    margin: auto;
    -o-object-fit: contain;
    object-fit: contain
}

.UserStatistics .UserStatistics__outSideDiv[data-v-1003fd90] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.UserStatistics .UserStatistics__outSideDiv__level-title[data-v-1003fd90] {
    min-height: 30px
}

.UserStatistics .UserStatistics__outSideDiv__bgBox[data-v-1003fd90] {
    background: #fff;
    margin: 0 5px 10px 5px;
    border-radius: 7px 10px 10px 7px;
    padding: 10px;
    width: 30%
}

.UserStatistics .UserStatistics__outSideDiv__blue[data-v-1003fd90] {
    border-left: 6px solid #00b3ff;
}

.UserStatistics .UserStatistics__outSideDiv__green[data-v-1003fd90] {
    border-left: 6px solid #2dd683
}

.UserStatistics .UserStatistics__outSideDiv__grey[data-v-1003fd90] {
    position: relative;
    border-left: 6px solid #afafaf
}

.UserStatistics .UserStatistics__outSideDiv__orange[data-v-1003fd90] {
    border-left: 6px solid #fa8b3a
}

.UserStatistics .UserStatistics__outSideDiv__cyan[data-v-1003fd90] {
    border-left: 6px solid #76d9df
}

.UserStatistics .UserStatistics__outSideDiv__black[data-v-1003fd90] {
    border-left: 6px solid #3b3f48
}

.UserStatistics .UserStatistics__outSideDiv__path[data-v-1003fd90] {
    position: absolute;
    right: 10px;
    border-radius: 6px;
    padding: 8px 6px;
    background-color: #d8ffec;
    color: #26a17b;
    cursor: pointer;
    top: 10px
}

@media screen and (min-width: 768px) {
    .UserStatistics .wrap-col[data-v-1003fd90] {
        border:1px solid #c6cacc;
        border-radius: 10px;
        width: 100%;
        padding: 2%;
        margin: 0 0 15px 0!important
    }

    .UserStatistics .UserStatistics__outSideDiv[data-v-1003fd90] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .UserStatistics .UserStatistics__outSideDiv__level-title[data-v-1003fd90] {
        min-height: 30px
    }

    .UserStatistics .UserStatistics__outSideDiv__bgBox[data-v-1003fd90] {
        background: #f5f8fb;
        border-radius: 7px 10px 10px 7px;
        padding: 10px 0 10px 20px;
        width: 30%;
        min-width: 150px
    }
}
