// color pallete
$primary-color: #E63875;
$primary-color-light: #e638752b;

$sold-out: #E46036;
$collection-bg: #6B0DC90D;


$text-color: #263238;
$white: #fff;

// font style
$syne: 'Syne', sans-serif;
$montserrat: 'Montserrat', sans-serif;